
<div id="banner">

    <!-- BANNER BG : begin -->
    <!-- <div class="banner-bg">
        <div class="banner-bg-item"></div>
    </div> -->
    <!-- BANNER BG : end -->

   
</div>
<!-- BANNER : end -->

<!-- CORE : begin -->
<div id="core">

    <!-- CONTENT SECTION - SERVICES : begin -->
    <section class="content-section services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <!-- SERVICE 1 : begin -->
                    <div class="service-container">
                        <p class="service-icon buy"><img src="{echo CDN}base/buy.png"></p>
                        <h3 class="service-title">Buy</h3>
                        <p>We provide you with all the books, be it Foreign authors or Indian ones at prices that you can't imagine. </p>
                        
                    </div>
                    <!-- SERVICE 1 : end -->

                </div>
                    <!-- SERVICE 2 : end -->

                </div>
            </div>
        </div>
    </section>
    <!-- CONTENT SECTION - SERVICES : end -->

</div>
<!-- CORE : end -->

<!-- BOTTOM PANEL : begin -->
<aside id="bottom-panel">
    <div class="container">
        <div class="row">
            <!-- ABOUT WIDGET : begin -->
            <div class="widget about-widget">
                <div class="widget-content">
                    <img src="{echo CDN}base/mainlogo.png">
                </div>
                <div class="contact">
                    <p><i class="fa fa-whatsapp"></i> +91-9582135023</p>
                    <p><i class="fa fa-whatsapp"></i> +91-9953114188</p>
                    <p><i class="fa fa-envelope"></i> rathee95@gmail.com</p>
                <div>
            </div>
            <!-- ABOUT WIDGET : end -->
        </div>
    </div>
</aside>
<!-- BOTTOM PANEL : end