<!-- BANNER : begin -->
<div id="banner">

    <!-- BANNER BG : begin -->
    <div class="banner-bg">
        <div class="banner-bg-item"></div>
    </div>
    <!-- BANNER BG : end -->

    <!-- BANNER SEARCH : begin -->
    <div class="banner-search">
        <div class="container">
            <div class="banner-search-inner">
                <ul class="custom-list tab-title-list clearfix">
                    <li class="tab-title active"><a>Search By Name</a></li>
                    <li class="tab-title"><a>Search By Course</a></li>
                </ul>
                <ul class="custom-list tab-content-list">

                    <!-- Search By Name : begin -->
                    <li class="tab-content active searchbyname">
                        <form class="default-form">

                            <!-- SEARCH INPUT : begin -->
                            <span class="search-input">
                                <input id = "autoComplete" type="text" placeholder="Search by Name, Author">
                            </span>
                            <!-- SEARCH INPUT : end -->

                        </form>
                    </li>
                    <!-- Search By Name : end -->

                    <!-- Search By Course : begin -->
                    <li class="tab-content">
                        <form class="search-form default-form" method='GET' action="http://booksquare.in/books/search/">

                            <!-- SEARCH INPUT : begin -->
                            <span class="search-input">
                                <input name="college" id = "college-autoComplete" type="text" placeholder="College" state='0'>
                            </span>
                            <!-- SEARCH INPUT : end -->

                            <!-- SEARCH INPUT : begin -->
                            <span class="search-input">
                                <input name="branch" id = "branch-autoComplete" type="text" placeholder="Branch">
                            </span>
                            <!-- SEARCH INPUT : end -->

                            <!-- SEARCH INPUT : begin -->
                            <span class="select-box" title="Semester">
                                <select name="semester" data-placeholder="Semester">
                                    <option value="all">All Semesters</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </span>
                            <!-- SEARCH INPUT : end -->

                            <!-- SUBMIT : begin -->
                            <span class="submit-btn">
                                <button type="submit" class="button"><i class="fa fa-search"></i> Search</button>
                            </span>
                            <!-- SUBMIT : end -->

                        </form>
                    </li>
                    <!-- Search By Course : end -->

                </ul>
            </div>
        </div>
    </div>
    <!-- BANNER SEARCH : end -->

</div>
<!-- BANNER : end -->

<!-- CORE : begin -->
<div id="core">

    <!-- CONTENT SECTION - SERVICES : begin -->
    <section class="content-section services">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <!-- SERVICE 1 : begin -->
                    <div class="service-container">
                        <p class="service-icon buy"><img src="{echo CDN}base/buy.png"></p>
                        <h3 class="service-title">Buy</h3>
                        <p>We provide you with all the books, be it Foreign authors or Indian ones at prices that you can't imagine. We effectively provide you a book at less than 15% of the MRP if you buy and sell with us. Buy it to believe it.</p>
                        <p><a href="books/index.html" class="button"><i class="fa fa-book"></i> Get Started!</a></p>
                    </div>
                    <!-- SERVICE 1 : end -->

                </div>
                <div class="col-sm-6">

                    <!-- SERVICE 2 : begin -->
                    <div class="service-container">
                        <p class="service-icon sell"><img src="{echo CDN}base/sell.png"></p>
                        <h3 class="service-title">Sell</h3>
                        <p>At BookSquare you will get the best return price for all your books. Better the condition, more the return price. We effectively provide you a book at less than 15% of the MRP if you buy and sell with us. Sell it to believe it.</p>
                        
                        
                            <p><a href="index.html#" class="button" data-toggle="modal" data-target="#sell-modal"><i class="fa fa-money"></i> Get Started!</a></p>
                        
                    </div>
                    <!-- SERVICE 2 : end -->

                </div>
            </div>
        </div>
    </section>
    <!-- CONTENT SECTION - SERVICES : end -->

    <!-- CONTENT SECTION: begin -->
    <section id='about' class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>About BookSquare</h2>
                    <p>We at BookSquare are determined to solve the problem of college books, especially old books as most of us tend to buy old books only, and to provide students with books at minimum market rate and best quality possible.<br><br> Most of the books are needed only for a few days before the exams and what we find in market are overpriced books in bad conditions.<br><br>That's where we step in and help the student get the desired books at desired rates in the best possible quality.</p>
                </div>
                <div class="col-sm-6">
                    <p class="about-image"><img src="{echo CDN}base/logo.png" alt=""></p>
                </div>
            </div>
        </div>
    </section>
    <!-- CONTENT SECTION : end -->

</div>
<!-- CORE : end -->

<!-- TESTIMONIALS : begin -->
<div id="testimonials">
    <div class="container">
        <div class="testimonials-inner">

            <!-- TESTIMONIAL LIST : begin -->
            <div class="testimonial-list">

                <!-- TESTIMONIAL 1 : begin -->
                <div class="testimonial">
                    <p class="portrait"><img src="{echo CDN}base/shrey.jpg"></p>
                    <blockquote class="quote">
                        <p>Awesome startup by you guys, books were delivered at my hostel room the next day itself. Keep up the good work!</p>
                        <footer><cite>Shrey Gupta - 4th year, NSIT</cite></footer>
                    </blockquote>
                </div>
                <!-- TESTIMONIAL 1 : end -->

                <!-- TESTIMONIAL 2 : begin -->
                <div class="testimonial">
                    <p class="portrait"><img src="{echo CDN}base/sahil.jpg"></p>
                    <blockquote class="quote">
                        <p>The books received were immaculate and speckless, And were delivered at the convenience of my doorstep. My local book vendor has definitely lost one of his customers !!</p>
                        <footer><cite>Sahil Sethi - 4th year, NSIT</cite></footer>
                    </blockquote>
                </div>
                <!-- TESTIMONIAL 2 : end -->
                
                <!-- TESTIMONIAL 3 : begin -->
                <div class="testimonial">
                    <p class="portrait"><img src="{echo CDN}base/pranay.jpg"></p>
                    <blockquote class="quote">
                        <p>Very much impressed by the delivery time of the books. I didn't have to go anywhere, just placed the order and got them delivered the very next morning that too at economical rates. Great work guys !!</p>
                        <footer><cite>Pranay Kathuria - 3rd year, DTU</cite></footer>
                    </blockquote>
                </div>
                <!-- TESTIMONIAL 3 : end -->
                
                <!-- TESTIMONIAL 4 : begin -->
                <div class="testimonial">
                    <p class="portrait"><img src="{echo CDN}base/mayank.jpg"></p>
                    <blockquote class="quote">
                        <p>Having no book shop providing IP Univ. books near my place always gave me headache. But these guys delivered the books right at my college for me. Great work !!</p>
                        <footer><cite>Mayank Kush - 4th year, MAIT</cite></footer>
                    </blockquote>
                </div>
                <!-- TESTIMONIAL 4 : end -->

                <!-- TESTIMONIAL 5 : begin -->
                <div class="testimonial">
                    <p class="portrait"><img src="{echo CDN}base/ravi.jpg"></p>
                    <blockquote class="quote">
                        <p>Really Impressed by the  delivery system. This is really gonna make the local shop owners run for their money !!</p>
                        <footer><cite>Ravi Gupta - 3rd year, DTU</cite></footer>
                    </blockquote>
                </div>
                <!-- TESTIMONIAL 5 : end -->

            </div>
            <!-- TESTIMONIAL LIST : end -->

            <!-- NAVIGATION : begin -->
            <div class="navigation">
                <button class="button prev"><i class="fa fa-chevron-left"></i></button>
                <button class="button next"><i class="fa fa-chevron-right"></i></button>
            </div>
            <!-- NAVIGATION : end -->

        </div>
    </div>
</div>
<!-- TESTIMONIALS : end -->

<!-- BOTTOM PANEL : begin -->
<aside id="bottom-panel">
    <div class="container">
        <div class="row">
            <!-- ABOUT WIDGET : begin -->
            <div class="widget about-widget">
                <div class="widget-content">
                    <img src="{echo CDN}base/mainlogo.png">
                </div>
                <div class="contact">
                    <p><i class="fa fa-whatsapp"></i> +91-9810384869</p>
                    <p><i class="fa fa-whatsapp"></i> +91-9953114188</p>
                    <p><i class="fa fa-envelope"></i> contact@booksquare.in</p>
                <div>
            </div>
            <!-- ABOUT WIDGET : end -->
        </div>
    </div>
</aside>
<!-- BOTTOM PANEL : end -->